# ktlint reads EditorConfig for Kotlin style settings.
# https://pinterest.github.io/ktlint/latest/rules/standard/

[*.{kt,kts}]
max_line_length = 100
indent_size = 4
indent_style = space
ktlint_standard = enabled
